# General settings
[settings]
soupault_version = "5.1.0"
verbose = true

site_dir = "site"
build_dir = "build"
page_file_extensions = ["html", "md"]
markdown_extensions = ["md"]

default_template_file = "templates/main.html"
default_content_selector = "main"
default_content_action = "append_child"
pretty_print_html = false

plugin_discovery = true
plugin_dirs = ["plugins"]

caching = true
cache_dir = ".cache"


# Extra options
[custom_options]
site_url = "https://conflor.es"
site_author = "eri"
site_author_email = "eri@igalia.com"
site_title = "conflores"


# ---

# Preprocessors
[preprocessors]


# ---

# Index blog posts and more
[index]
sort_by = "date"
sort_descending = true
sort_type = "calendar"
date_formats = ["%F"]
leaf_file = ".leaf"
extract_after_widgets = ["set-metadata"]
dump_json = "index.json"

# Fields extracted from HTML to use as metadata
[index.fields]
title = { selector = [".p-name"] }
content = { selector = [".h-entry"] }
date = { selector = [".dt-published"] }
summary = { selector = [".p-summary", "p"], strip_tags = true }
tags = { selector = "tag", select_all = true }
images = { selector = "img:not(.no-index)", extract_attribute = "src", select_all = true }
images_alt = { selector = "img:not(.no-index)", extract_attribute = "alt", select_all = true }

[index.views.blog]
index_selector = "#blog-index"
section = "blog/"
index_template = """
{% set flower = ["✿","❋","✾","❁","❀","✽","❃","❊"] | random %}
{% set state = namespace(i = 0) %}
{% for e in entries %}
  <article class="h-entry blog-index-element {% if "note" in e.tags %}blog-index-note{% endif %}">
    {% set state.i += 1 %}
    {% if e.title %}
      <header>
        <h2><a class="p-name" href="{{e.url}}">{{e.title}}</a> <span>{{flower[state.i % 9]}}</span></h2>
      </header>
    {% endif%}
    {% if e.images %}
      <div class="blog-index-imgs">
        {% for src in e.images %}<img src="{{src}}" alt="{{e.images_alt[loop.index-1]}}"/>{% endfor %}
      </div>
    {% endif %}
    <p class="p-summary">{{e.summary}}</p>
    <div class="row">
      <strong><a class="u-url dt-published" href="{{e.url}}">{{e.date}}</a></strong>
      {% for tag in e.tags|sort %}<tag class="p-category">{{tag}}</tag>{% endfor %}
    </div>
  </article>
{% endfor %}
"""


# ---

# Widgets
[widgets]

# Page title
[widgets.page-title]
widget = "title"
selector = "h1"
default = "conflores"
append = " &mdash; conflores"

# Header and footer
[widgets.insert-header]
widget = "include"
file = "templates/header.html"
selector = "body"
action = "prepend_child"
[widgets.insert-footer]
widget = "include"
file = "templates/footer.html"
selector = "body"
action = "append_child"

# Post header
[widgets.set-metadata]
widget = "set-metadata"
selector = "h1"

# Move style to the head
[widgets.inline-style]
widget = "inline-style"

# Highlight code
[widgets.highlight]
widget = "preprocess_element"
selector = '*[class^="language-"]'
command = 'highlight -O html -f --syntax=$(echo $ATTR_CLASS | sed -e "s/language-//")'
action = "replace_content"

# RSS Feed
[widgets.atom]
page = "index.html"
widget = "atom"
feed_file = "atom.xml"
use_section = "blog"

[widgets.atom-web-platform]
page = "index.html"
widget = "atom"
feed_file = "web-platform.xml"
use_section = "blog"
use_tag = "web-platform"

# Table of contents
[widgets.table-of-contents]
widget = "toc"
selector = ".dt-published"
action = "insert_after"
exclude_page = "index.html"
min_level = 2
toc_list_class = "toc"
heading_links = true
heading_link_text = "→ "
use_heading_slug = true
