/* Blog post */

.e-content > p, .e-content > pre, .e-content > section, main > .toc {
  margin: var(--spacing) 0;
}

tag, .p-pronouns {
  border: solid calc(var(--line-width) * 2) var(--accent);
  font-weight: 600;
  padding: 0.1rem 0.4rem;
  border-radius: 0.25rem;
}
tag {
  font-size: 0.9rem;
  margin-right: calc(var(--spacing) * 0.5);
  &::before {
    content: "#";
  }
}

/* Blog index */

.blog-index-element {
  & > * {
    margin-bottom: calc(var(--spacing) * 0.5);
  }
  & > div.row {
    justify-content: start;
    align-items: center;
    gap: calc(var(--spacing) * 0.5);
  }
  h2 {
    span {
      color: var(--accent);
      display: inline-block;
      transition: transform 0.3s ease-in-out;
    }
    &:hover span {
      transform: rotate(45deg);
    }
  }
  .dt-published {
    color: var(--fg);
  }
  tag {
    border: none;
    padding: 0;
    margin: 0;
  }
}

.blog-index-note {
  /* display: none; */
  border-left: 0.2rem dotted var(--accent);
  padding-left: var(--spacing);
  & > *:last-child {
    margin-bottom: 0;
  }
  /* background: radial-gradient(circle at 0 0,rgba(58, 99, 67, 0.2) 0%, rgba(0, 0, 0, 0) 50%); */
  /* border-radius: 0.25rem; */
}

.blog-index-imgs {
  img {
    display: inline;
    height: 8rem;
    margin-right: calc(var(--spacing) * 0.5);
  }
}

section[role=doc-endnotes] p {
  display: inline;
}
