@import "reset.css";
@import "fonts.css";

/* TODO: Rework all of the styles */

:root {
  --font: "Inter", sans-serif;
  --font-special: "Clash", sans-serif;

  --fg: #000000;
  --bg: #f0ede9;
  --accent: #3a6343;

  --spacing: 1.2rem;
  --line-width: 0.1em;
  --trans-time: 200ms;

  color: var(--fg);
  accent-color: var(--accent);
  background-color: var(--bg);

  font-family: var(--font);
  text-align: justify;

  padding: 0 var(--spacing);
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;

  max-width: 48rem;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

main {
  flex-grow: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-special);
  font-weight: 600;
}

a {
  color: var(--accent);
  background: linear-gradient(currentColor 0 0) bottom left / var(
    --underline,
    0%
  ) var(--line-width) no-repeat;

  &:hover {
    --underline: 100%;
    text-decoration: none;
  }
}

ul {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) / 3);
  list-style-type: none;
}

/* Custom classes */

.content > * {
  padding: calc(var(--spacing) / 3) 0;
}

.row, nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--spacing);

  &:not(.fixed) {
    @media (width < 768px) {
      flex-direction: column;
      gap: 0;
    }
  }
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing);
}

.fill {
  flex-grow: 1;
}

post-meta {
  display: flex;
  width: 100%;
  align-items: center;
  gap: var(--spacing);
}

post-tag {
  border: solid calc(var(--line-width) * 2) var(--fg);
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.1rem 0.4rem;
  border-radius: 0.25rem;
}

post-meta > time {
  flex-grow: 1;
}

div.highlight {
  padding: var(--spacing);
  background-color: hsl(from var(--bg) h s 90%);
}

img, div.highlight {
  border: var(--line-width) solid var(--accent);
  border-radius: 0.25rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

img {
  max-height: 36rem;
  max-width: min(32rem, 95vw);
}

/* Navigation */

nav {
  padding: var(--spacing) 0;
  border-bottom: 0.2rem solid var(--fg);
  margin-bottom: var(--spacing);

  a {
    font-family: var(--font-special);
    font-weight: 600;
    font-size: 1.6rem;
  }

  .logo {
    color: var(--fg) !important;

    > *:last-child {
      position: relative !important;
      opacity: 0;
    }

    > *:first-child {
      position: absolute;
      opacity: 1;
    }

    &:hover {
      > *:first-child {
        opacity: 0;
      }

      > *:last-child {
        opacity: 1;
      }
    }
  }

  @media (width < 768px) {
    .nav-links > a {
      font-size: 1.4rem;
    }
  }
}

/* Footer */

footer {
  padding: calc(var(--spacing) * 0.5) 0;
  border-top: 0.2rem solid var(--fg);
  margin-top: var(--spacing);
  text-align: right;
  font-size: 0.8rem;
  font-weight: bolder;
}

/* Posts */

#blog-index {
  gap: calc(var(--spacing) * 2);
}

.blog-index-element > p {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.3)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

post-meta ~ p {
  margin: var(--spacing) 0;
}

/* Transitions */

* {
  transition-property: opacity, background-size;
  transition-duration: var(--trans-time);
  transition-timing-function: ease-in-out;
}

@view-transition {
  navigation: auto;
}
