{% extends "base.html" %}

<!-- -->

{% block content %}
<div>
    <style>
        this {
            display: flex;
            flex-direction: column;

            text-align: center;
            width: 100%;
        }

        this a {
            font-family: var(--font-special);
            font-weight: 500;
            font-size: 1.35rem;
            margin-top: 2rem;
        }
    </style>
    {% for (slug, data) in articles %}
    <div>
        <a href="/blog/{{ slug }}">{{data.title}}</a>
        <p>{{data.published.unwrap()}}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}
