@font-face {
    font-family: "Clash";
    src: url("/assets/fonts/clash.ttf") format("truetype-variations");
    font-weight: 100 900;
}

@font-face {
    font-family: "Inter";
    src: url("/assets/fonts/inter.ttf") format("truetype-variations");
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("/assets/fonts/inter_it.ttf") format("truetype-variations");
    font-weight: 100 900;
    font-style: italic;
}

:root {
    --font-text: "Inter";
    --font-special: "Clash";

    --fg: #000000;
    --bg: #d5d0ca;
    --accent: #3a6343;

    --spacing: 1.2rem;
    --line-width: 0.1em;
    --trans-time: 200ms;

    color: var(--fg);
    accent-color: var(--accent);
    background-color: var(--bg);

    font-family: var(--font-text);
    text-align: justify;
    font-size: round(down, calc(13px + 0.390625vw), 1px);

    padding: 0 var(--spacing);
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;

    max-width: 48rem;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

main {
    flex-grow: 1;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-special);
    font-weight: 600;
}

time, a {
    font-weight: 600;
}

a {
    color: var(--accent);
    background: linear-gradient(currentColor 0 0) bottom left / var(--underline, 0%) var(--line-width) no-repeat;

    &:hover {
        --underline: 100%;
        text-decoration: none;
    }
}

ul {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) / 3);
    list-style-type: none;
}

/* Custom classes */

.content > * {
    padding: calc(var(--spacing) / 3) 0;
}

.row, nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--spacing);

    &:not(.fixed) {
        @media (width < 768px) {
            flex-direction: column;
            align-items: start;
            gap: 0;
        }
    }
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing);
}

.fill {
    flex-grow: 1;
}

.tag {
    border: solid calc(var(--line-width) * 2) var(--fg);
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0.1rem 0.4rem;
    border-radius: 0.25rem;
}

div.highlight {
    padding: var(--spacing);
    background-color: hsl(from var(--bg) h s 90%);
}

img, div.highlight {
    border: var(--line-width) solid var(--accent);
    border-radius: 0.25rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

img {
    max-height: 36rem;
    max-width: min(32rem, 95vw);
}

/* Navigation */

nav {
    padding: var(--spacing) 0;
    border-bottom: 0.2rem solid var(--fg);
    margin-bottom: var(--spacing);

    a {
        font-family: var(--font-special);
        font-weight: 600;
        font-size: 1.8rem;
    }

    .logo {
        color: var(--fg) !important;

        > *:last-child {
            position: relative !important;
            opacity: 0;
        }

        > *:first-child {
            position: absolute;
            opacity: 1;
        }

        &:hover {
            > *:first-child {
                opacity: 0;
            }

            > *:last-child {
                opacity: 1;
            }
        }
    }

    @media (width < 768px) {
        .nav-links > a {
            font-size: 1.4rem;
        }
    }
}

/* Footer */

footer {
    padding: var(--spacing) 0;
    border-top: 0.2rem solid var(--fg);
    margin-top: var(--spacing);
    text-align: right;
}

/* Posts */

.post-nav {
    font-family: var(--font-special);
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: calc(var(--spacing) * 0.5);

    .nav-next:before {
        content: "←";
        display: block;
        @media (width < 768px) {
            width: 3rem;
            float: left;
        }
    }

    .nav-prev:before {
        content: "→";
        display: block;
        text-align: right;

        @media (width < 768px) {
            width: 3rem;
            float: right;
        }
    }
}

.post-tags {
    padding-bottom: var(--spacing);
    gap: calc(var(--spacing) * 0.5);
}

.post-list {
    padding: 0;

    p {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3));
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
}

/* Transitions */

* {
    transition-property: opacity, background-size;
    transition-duration: var(--trans-time);
    transition-timing-function: ease-in-out;
}

@view-transition {
    navigation: auto;
}
