@font-face {
  font-family: "Clash";
  src: url("/assets/fonts/clash.ttf") format("truetype-variations");
  font-weight: 100 900;
}

@font-face {
  font-family: "Open Sans";
  src: url("/assets/fonts/open.ttf") format("truetype-variations");
  font-weight: 100 900;
}

:root {
  --font-text: "Open Sans";
  --font-special: "Clash";

  --fg: black;
  --bg: white;
  --accent: hotpink;
  --accent-bg: #ffc7ed44;
  --behind: #eeeeee;

  --spacing: 1rem;
  --trans-time: 0.3s;

  font-family: var(--font-text);
  accent-color: var(--accent);
  scroll-behavior: smooth;
}

body {
  background-color: var(--behind);
}

p,
h2,
h3 {
  margin-bottom: var(--spacing);
}

a,
.accent {
  color: var(--accent);
}

strong {
  font-family: var(--font-special);
  font-weight: 600;
}
