/* TODO: Rework all of the styles */

:root {
  --font: "Inter", sans-serif;
  --font-special: "Clash", sans-serif;

  --fg: #050604;
  --bg: #f7f8f6;
  --primary: #83b86e;
  --primary-dark: #45633a;
  --secondary: #aebbc1;
  --accent: #b698dc;
  --accent-dark: #9269c9;

  --spacing: 1.2rem;
  --line-width: 0.1em;
  --trans-time: 200ms;

  background-color: var(--bg);
  background: linear-gradient(
    to bottom,
    var(--bg),
    hsl(from var(--primary) h s 95)
  );
  background-attachment: fixed;

  color: var(--fg);
  accent-color: var(--accent);

  font-family: var(--font);

  padding: 0 var(--spacing);
  scroll-behavior: smooth;
}

:root:before {
  content: "";
  position: fixed;
  width: 200%;
  height: 200%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%) rotate(45deg);
  z-index: -10;

  mask-image: url("/images/overlay.svg");
  mask-size: repeat;

  background: linear-gradient(
    45deg,
    var(--accent) 30%,
    rgba(0, 0, 0, 0) 35%,
    rgba(0, 0, 0, 0) 65%,
    var(--accent) 70%
  );
  opacity: 0.2;
}

body {
  display: flex;
  flex-direction: column;

  max-width: 48rem;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

main {
  flex-grow: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-special);
  font-weight: 600;
}

p {
  text-align: justify;
}

a {
  color: var(--primary-dark);
  text-decoration-color: hsl(from var(--accent) h s 90);
  &:hover {
    text-decoration-color: var(--accent);
  }
}

ul {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) / 3);
  list-style-type: none;
}

blockquote, .toc {
  padding-left: var(--spacing);
  border-left: 4px solid var(--accent);
}

pre {
  padding: var(--spacing);
  font-size: 0.9rem;
  line-height: 1.3rem;
}

/* Transitions */

* {
  transition-property: opacity, background-size, text-decoration-color;
  transition-duration: var(--trans-time);
  transition-timing-function: ease-in-out;
}

@view-transition {
  navigation: auto;
}
