/* Blog post */

.h-entry:has(.e-content) {
  justify-content: start;
  gap: 0;
}

.e-content > p, .e-content > pre, .e-content > section, main > .toc {
  margin: var(--spacing) 0;
}

.p-category, .p-pronouns {
  border: solid calc(var(--line-width) * 2) var(--accent);
  font-weight: 600;
  padding: 0.1rem 0.4rem;
  border-radius: 0.25rem;
}
.p-category {
  font-size: 0.8rem;
  margin-right: calc(var(--spacing) * 0.5);
  &:before {
    content: "#";
  }
}
ul:has(.p-category) {
  flex-direction: row;
  padding-left: 0;
}

.dt-published {
  font-size: 0.8rem;
}

/* Blog index */

.h-feed {
  justify-content: start;
  gap: calc(var(--spacing) * 2);
  & > article {
    gap: calc(var(--spacing) * 0.5);
    .p-name {
      &:after {
        content: attr(data-flower);
        color: var(--accent);
        transition: opacity 0.3s ease-in-out;
      }
      &:hover:after {
        opacity: 0;
      }
    }
    .dt-published {
      font-weight: bold;
    }
    .p-category {
      border: none;
      padding: 0;
      margin: 0;
    }
  }
}

.z-note {
  border-left: 0.2rem dotted var(--accent);
  padding-left: var(--spacing);
  & > *:last-child {
    margin-bottom: 0;
  }
}

.z-images {
  display: flex;
  gap: calc(var(--spacing) * 0.5);
  overflow-x: scroll;

  img {
    display: inline;
    height: 8rem;
    margin: 0;
  }
}

.z-draft {
  opacity: 0.5;
  background-color: #eeeeee;
}

section[role="doc-endnotes"] p {
  display: inline;
}

/* Controls */

#controls {
  display: none; /* TODO: finish checkboxes */
  margin-bottom: var(--spacing);
  &:has(#toggle-notes:not(:checked)) + .h-feed > .z-note {
    display: none;
  }
  &:has(#toggle-drafts:not(:checked)) + .h-feed > .z-draft {
    display: none;
  }
}
