/* Blog post */

.chips {
  padding-bottom: calc(var(--spacing) * 0.5);
}

.chips > ul {
  display: flex;
  flex-direction: row;
  gap: calc(var(--spacing) * 0.5);
  padding: calc(var(--spacing) * 0.15) 0 calc(var(--spacing) * 0.5) 0;
  overflow-x: auto;
  width: 100%;
  scrollbar-width: none;
}

.chips > ul > li {
  flex-shrink: 0;
}

.chip {
  border: solid calc(var(--line-width) * 2) var(--accent);
  font-family: var(--font);
  font-weight: 600;
  font-size: 0.8rem;
  padding: 0.2rem 0.5rem;
  border-radius: 0.25rem;
  color: var(--fg);
  text-decoration: none;
  white-space: nowrap;
  transition: background-color 0.3s ease-in-out;
}

.chip:hover {
  background-color: var(--accent);
}

.chip[aria-current="true"] {
  background-color: var(--accent);
}

.chip.z-primary {
  border-color: var(--primary-dark);
}

.chip.z-primary[aria-current="true"],
.chip.z-primary:hover {
  background-color: var(--primary-dark);
  color: var(--bg);
}

.h-entry:has(.e-content) {
  justify-content: start;
  gap: 0;
}

.e-content {
  & > p, & > pre, & > section, & > blockquote {
    margin: var(--spacing) 0;
  }
  & > ul {
    list-style-type: "—  ";
  }
}

.p-category, .p-pronouns {
  border: solid calc(var(--line-width) * 2) var(--accent);
  font-weight: 600;
  padding: 0.1rem 0.4rem;
  border-radius: 0.25rem;
}
.p-category {
  font-size: 0.8rem;
  margin-right: calc(var(--spacing) * 0.5);
  color: var(--fg);
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
  &:before {
    content: "#";
  }
  &:hover {
    background-color: var(--accent);
  }
  &[aria-current="true"] {
    background-color: var(--accent);
  }
  &.z-first {
    border-color: var(--primary-dark) !important;
    &[aria-current="true"], &:hover {
      background-color: var(--primary-dark) !important;
      color: var(--bg);
    }
  }
  & a {
    color: var(--fg);
    text-decoration: none;
  }
}
.tag-list {
  flex-direction: row;
  align-items: center;
  padding-left: 0;
}

.dt-published {
  font-size: 0.8rem;
}

/* Blog index */

.h-feed {
  justify-content: start;
  gap: calc(var(--spacing) * 1);
  & > article {
    gap: calc(var(--spacing) * 0.5);
    padding: calc(var(--spacing) * 0.5) 0;
    cursor: pointer;
    .p-name {
      &:after {
        content: attr(data-flower);
        color: var(--accent);
        transition: opacity 0.3s ease-in-out;
      }
      &:hover:after {
        opacity: 0;
      }
    }
    .dt-published {
      font-weight: bold;
    }
    .p-category {
      border: none;
      padding: 0;
      margin: 0;
    }
  }
}

.z-note {
  border-left: 0.2rem dotted var(--accent);
  padding-left: calc(var(--spacing) * 0.5) !important;
  background: linear-gradient(
    to right,
    rgb(from var(--accent) r g b / 8%),
    rgba(0, 0, 0, 0)
  );
  & > a {
    color: var(--fg);
    text-decoration: none;
  }
  & > *:last-child {
    margin-bottom: 0;
  }
  &:first-child {
    margin-top: calc(var(--spacing) * 0.5);
  }
}

.z-highlight,
.z-food-row {
  border-left: 0.2rem solid var(--primary-dark);
  padding-left: calc(var(--spacing) * 0.5) !important;
  background: linear-gradient(
    to right,
    rgb(from var(--primary) r g b / 8%),
    rgba(0, 0, 0, 0)
  );
}

.z-highlight {
  & > h2:before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 1.25rem;
    height: 1.25rem;
    mask-image: url("/images/push_pin.svg");
    mask-repeat: no-repeat;
    background-color: var(--primary-dark);
  }
}

.z-food-row {
  padding-top: calc(var(--spacing) * 0.5);
  padding-bottom: calc(var(--spacing) * 0.5);

  & > h2:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 1rem;
    height: 1rem;
    margin-right: 0.3em;
    mask-image: url("/images/herb.svg");
    mask-repeat: no-repeat;
    mask-size: contain;
    background-color: var(--primary-dark);
  }

  & > h2 {
    margin-bottom: calc(var(--spacing) * 0.5);
  }
}

.z-media {
  display: flex;
  gap: calc(var(--spacing) * 0.5);
  overflow-x: auto;

  img {
    display: inline;
    height: 8rem;
    margin: 0;
  }

  video {
    height: 8rem;
    width: auto;
    border: none;
    border-radius: 0.25rem;
    margin: 0;
  }
}

.z-excerpts {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 0.5);
}

.z-draft {
  display: none;
  opacity: 0.5;
  background-color: #eeeeee;
}

section[role="doc-endnotes"] p {
  display: inline;
}

#not-found {
  height: 80vh;
  align-items: center;
  justify-content: center;
  & > a {
    font-family: var(--font-special);
    font-weight: bold;
    font-size: 1.2rem;
  }
}

p:has(.u-in-reply-to) {
  color: var(--accent);
  font-style: italic;
  & > a {
    color: var(--accent) !important;
  }
}

.z-food-images {
  display: flex;
  gap: calc(var(--spacing) * 0.5);
  overflow-x: auto;
  overflow-y: hidden;

  img {
    height: 8rem;
    width: auto;
    max-width: none;
    border: var(--line-width) solid var(--primary-dark);
    border-radius: 0.25rem;
    margin: 0;
  }
}
