/* Blog post */

.h-entry:has(.e-content) {
  justify-content: start;
  gap: 0;
}

.e-content {
  & > p, & > pre, & > section, & > blockquote {
    margin: var(--spacing) 0;
  }
  & > ul {
    list-style-type: "—  ";
  }
}

.p-category, .p-pronouns {
  border: solid calc(var(--line-width) * 2) var(--accent);
  font-weight: 600;
  padding: 0.1rem 0.4rem;
  border-radius: 0.25rem;
}
.p-category {
  font-size: 0.8rem;
  margin-right: calc(var(--spacing) * 0.5);
  color: var(--fg);
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
  &:before {
    content: "#";
  }
  &:hover {
    background-color: var(--accent);
  }
  &[aria-current = "true"] {
    background-color: var(--accent);
  }
  &.z-first {
    border-color: var(--primary-dark) !important;
    &[aria-current = "true"], &:hover {
      background-color: var(--primary-dark) !important;
      color: var(--bg);
    }
  }
  & a {
    color: var(--fg);
    text-decoration: none;
  }
}
.tag-list {
  flex-direction: row;
  align-items: center;
  padding-left: 0;
}
#categories > ul {
  flex-direction: row;
  overflow-x: scroll;
  padding: 0 0 calc(var(--spacing) * 0.5) 0;
  gap: calc(var(--spacing) * 0.5);
  & > li {
    flex-shrink: 0;
    & > a {
      margin: 0;
      padding: 0.1rem calc(var(--spacing) * 0.5);
      display: inline-block;
      &:before {
        content: "";
      }
    }
  }
}

.dt-published {
  font-size: 0.8rem;
}

/* Blog index */

.h-feed {
  justify-content: start;
  gap: calc(var(--spacing) * 1);
  & > article {
    gap: calc(var(--spacing) * 0.5);
    padding: calc(var(--spacing) * 0.5) 0;
    cursor: pointer;
    .p-name {
      &:after {
        content: attr(data-flower);
        color: var(--accent);
        transition: opacity 0.3s ease-in-out;
      }
      &:hover:after {
        opacity: 0;
      }
    }
    .dt-published {
      font-weight: bold;
    }
    .p-category {
      border: none;
      padding: 0;
      margin: 0;
    }
  }
}

.z-note {
  border-left: 0.2rem dotted var(--accent);
  padding-left: calc(var(--spacing) * 0.5) !important;
  background: linear-gradient(
    to right,
    rgb(from var(--accent) r g b / 8%),
    rgba(0, 0, 0, 0)
  );
  & > a {
    color: var(--fg);
    text-decoration: none;
  }
  & > *:last-child {
    margin-bottom: 0;
  }
  &:first-child {
    margin-top: calc(var(--spacing) * 0.5);
  }}

.z-images {
  display: flex;
  gap: calc(var(--spacing) * 0.5);
  overflow-x: scroll;

  img {
    display: inline;
    height: 8rem;
    margin: 0;
  }
}

.z-draft {
  display: none;
  opacity: 0.5;
  background-color: #eeeeee;
}

section[role="doc-endnotes"] p {
  display: inline;
}

#not-found {
  height: 80vh;
  align-items: center;
  justify-content: center;
  & > a {
    font-family: var(--font-special);
    font-weight: bold;
    font-size: 1.2rem;
  }
}

p:has(.u-in-reply-to) {
  color: var(--accent);
  font-style: italic;
  & > a {
    color: var(--accent) !important;
  }
}
