.p-content > * {
  padding: calc(var(--spacing) / 3) 0;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--spacing);

  &:not(.fixed) {
    @media (width < 768px) {
      text-align: center;
      flex-direction: column;
      gap: 0;
    }
  }
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing);
}

.fill {
  flex-grow: 1;
}

img, pre {
  border: var(--line-width) solid var(--primary-dark);
  border-radius: 0.25rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

img {
  max-height: 36rem;
  max-width: min(32rem, 100%);
}

.table-wrapper {
  display: block;
  overflow-x: auto;
}
