/* Navigation */

header {
  padding: var(--spacing) 0;
  border-bottom: 0.2rem solid var(--fg);
  margin-bottom: var(--spacing);
  justify-content: space-between !important;

  a {
    font-family: var(--font-special);
    font-weight: 600;
    font-size: 1.6rem;
  }

  nav > ul {
    flex-direction: row;
    gap: var(--spacing);
  }

  .site-name {
    a {
      color: var(--fg) !important;
    }
    img {
      display: inline;
      border: none;
      height: 1em;
    }
  }

  @media (width < 768px) {
    nav > ul {
      gap: calc(var(--spacing) * 0.5);
      & > li {
        font-size: 1.4rem;
      }
    }
    div:last-child {
      display: none;
    }
  }
}

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  padding: calc(var(--spacing) * 0.5) 0;
  border-top: 0.2rem solid var(--fg);
  margin-top: var(--spacing);

  p, a {
    font-size: 0.8rem;
  }

  div:first-child a:first-child {
    font-weight: bolder;
  }

  div:nth-child(2) > p {
    text-align: right;
    font-weight: bolder;
  }
}
