---
layout: main
title: ups :(
permalink: 404.html
eleventyExcludeFromCollections: true
---
<div id="not-found" class="column">
  <h2>Sorry, we can't find the page you were looking for :(</h2>
  <p><a href="/tags/churuleto">Churuleto</a> doesn't know how to fix it</p>
  <img
    alt="My cat looking at you clueless sitting on top of a laptop"
    src="/images/404.webp"
  >
  <a href="/">Go back</a>
</div>
