<footer class="h-card" href="https://conflor.es">
  <div>
    <p>
      <a href="https://caminus.neocities.org/veggiering/vegring">veggie ring 🌱</a>
      <a href="https://caminus.neocities.org/veggiering/vegring?action=previous">←</a>
      <a href="https://caminus.neocities.org/veggiering/vegring?action=random">???</a>
      <a href="https://caminus.neocities.org/veggiering/vegring?action=next">→</a>
    </p>
    <p>
      <a href="https://xn--sr8hvo.ws">indieweb webring 🕸💍</a>
      <a href="https://xn--sr8hvo.ws/previous">←</a>
      <a href="https://xn--sr8hvo.ws/random">???</a>
      <a href="https://xn--sr8hvo.ws/next">→</a>
    </p>
  </div>
  <div>
  <p>
    made with <3 by
    <img class="u-photo" style="height: 1.5em; display: inline; vertical-align: middle;" src="/images/profile.webp" alt="photo of Churuleto, my cat">
    <a class="p-name u-url" rel="me" href="https://github.com/eerii">eri</a>
    <span class="p-pronouns" style="font-size: 0.7rem">they/them</span>
  </p>
  <p>
    <a href="/atom.xml">feed</a>,
    <a href="/web-platform.xml">web platform</a>
  </p>
  </div>
  <div hidden>
    <p class="p-note">be gay, do crime c:</p>
    <a href="https://github.com/eerii">code</a>
    <a class="u-url" href="https://eerii.itch.io">games</a>
    <a class="u-url" rel="me" href="https://todon.eu/@koala">mastodon</a>
  </div>
</footer>
