<header class="row">
  <span class="site-name">
    <a href="/">conflores</a>
    <img src="/images/icon.svg" alt="Flower logo" height=24px></img>
  </span>
  <nav>
    <a href="https://github.com/eerii">code</a>
    <a href="https://eerii.itch.io">games</a>
    <a href="https://todon.eu/@koala">mastodon</a>
    <a href="mailto:eri@inventati.org">contact</a>
  </nav>
</header>
