---
layout: page
---

<div class="post-tags row fixed">
    <time>{{ page.date | date: "%d %b, %Y" }}</time>
    <span class="fill"></span>
    {% for category in page.categories %}
        <span class="tag">{{ category }}</span>
    {% endfor %}
</div>

<div class = "content">
    {{ content }}
</div>

<div class="post-nav row">
    {% if page.next %}
        <a href="{{ site.baseurl }}{{ page.next.url }}" class="nav-next">{{ page.next.title }}</a>
    {% endif %}
    <span class="fill"></span>
    {% if page.previous %}
        <a href="{{ site.baseurl }}{{ page.previous.url }}" class="nav-prev">{{ page.previous.title }}</a>
    {% endif %}
</div>
